* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet", Helvetica, sans-serif;
    background-color: cornflowerblue;
}

main {
    position: relative;
    width: 720px;
    height: 400px;
    background-color: #FFFFFF;
    margin: 50px auto;
}

.caixa {
    /* float: right; */
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: crimson;
}

.cima-esquerda {
    top: 50px;
    left: 50px;
}

.cima-direita {
    top: 50px;
    right: 50px;
}

.baixo-direita {
    bottom: 50px;
    right: 50px;
}